*,
*:after,
*:before {
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: wf_segoe-ui_normal,Tahoma,Verdana,Arial,sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
body,
html {
    overflow-y: hidden;
    overflow-x: auto;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}
img {
    border: none;
    width: auto;
    height: auto;
}
ul{ list-style: none; }